body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
}

main {
  flex: 1;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 600px;
  width: 100%;
  position: relative;
}

.mobile {
  display:none;
}

a {
  color: #C0777B;
  text-decoration: none;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
  list-style:none;
  display:inline-block;
  margin-right: 30px;
  font-size: 15px;
  color: #C0777B;
  font-weight: 400;
}

footer {
  max-width: 850px;
  margin: 0 auto;
}

header {
  padding: 15px;
}

nav {
  float:right;
}

.iphone {
  width: 300px;
  display:block;
  position: relative;
}

.left {
  float: left;
  width: 50%;
  position: relative;
}

.right {
  float:right;
  width: 50%;
  padding-top: 80px;
  padding-left: 0px;
  text-align:left;
  text-align:center;
  position: relative;
}

.animate-wrap {
  position: relative;
  padding-top: 30px;
  width: 80px;
  margin:0 auto;
}

.badge {
  width: 170px;
  margin-top: 70px;
}

.quote {
  margin-top: 70px;
}

p {
  font-size: 15px;
  line-height: 19px;
  color: #4d4d4d;
  opacity: 0.7;
  max-width:220px;
  margin: 0 auto;
  margin-top: 5px;
}

.quote p {
  max-width: 295px;
  line-height: 21px;
  font-size: 15px;
  font-family: 'Alegreya Sans', sans-serif;
}

h2 {
  font-size: 28px;
  margin-bottom: 0px;
  font-weight: 500;
}

.author {
  float:right;
  font-size: 15px;
  margin-top: 7px;
  line-height: 19px;
  color: #C0777B;
  opacity: 0.6;
}

footer {
  padding: 10px;
  margin-top: 50px;
}

.breaker {
  width: 150px;
  height: 1px;
  background: #eee;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #eee;
}

footer p {
  color: #888;
  opacity: 0.7;
  margin-top: 30px;
  font-size: 12px;
  width: 100%;
  max-width: 100%;
  padding-bottom: 20px;
}

.elephant {
  position: absolute;
  display: block;
  width: 70px;
  top: 0px;
  left: 0px;
}

.trunk {
  position: absolute;
  display: block;
  width: 16px;
  top: 20px;
  left: 56px;
}

.swingSmall {
    transform-origin: top center;
    animation-duration: 3.3s;
    animation-name: swingSmall;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @-webkit-keyframes swingSmall {
       20% {
           -webkit-transform: rotate3d(0, 0, 1, 5deg);
           transform: rotate3d(0, 0, 1, 5deg)
       }
       40% {
           -webkit-transform: rotate3d(0, 0, 1, -4deg);
           transform: rotate3d(0, 0, 1, -4deg)
       }
       60% {
           -webkit-transform: rotate3d(0, 0, 1, 3deg);
           transform: rotate3d(0, 0, 1, 3deg)
       }
       80% {
           -webkit-transform: rotate3d(0, 0, 1, -2deg);
           transform: rotate3d(0, 0, 1, -2deg)
       }
       to {
           -webkit-transform: rotate3d(0, 0, 1, 0deg);
           transform: rotate3d(0, 0, 1, 0deg)
       }
   }

   @keyframes swingSmall {
       20% {
           -webkit-transform: rotate3d(0, 0, 1, 5deg);
           transform: rotate3d(0, 0, 1, 5deg)
       }
       40% {
           -webkit-transform: rotate3d(0, 0, 1, -4deg);
           transform: rotate3d(0, 0, 1, -4deg)
       }
       60% {
           -webkit-transform: rotate3d(0, 0, 1, 3deg);
           transform: rotate3d(0, 0, 1, 3deg)
       }
       80% {
           -webkit-transform: rotate3d(0, 0, 1, -2deg);
           transform: rotate3d(0, 0, 1, -2deg)
       }
       to {
           -webkit-transform: rotate3d(0, 0, 1, 0deg);
           transform: rotate3d(0, 0, 1, 0deg)
       }
   }

@media screen and (max-width: 760px) {
    nav {
      float:none;
      text-align:center;
      padding-top: 10px;
    }
    main {
      margin-top: 25px;
    }
    .desktop {
      display:none;
    }
    .quote {
      display:none;
    }
    .mobile {
      display:block;
      padding-top: 0px;
      position: relative;
    }
    h2 {
      margin-top: 40px;
    }
    .badge {
      margin-top: 50px;
      margin-bottom: 60px;
    }
    .iphone {
      position: relative;
      margin: 0 auto;
    }
    .left,
    .right {
      float:none;
      width: 100%;
    }
    footer p {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }
}
