body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
}

main {
  flex: 1;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 600px;
  min-width: 650px;
  width: 100%;
  position: relative;
}


nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
  list-style:none;
  display:inline-block;
  margin-right: 30px;
  font-size: 15px;
  color: #4d4d4d;
  font-weight: 500;
}

footer {
  max-width: 850px;
  margin: 0 auto;
}

header {
  padding: 15px;
}

nav {
  float:right;
}

.iphone {
  width: 300px;
}

.left {
  float: left;
  width: 45%;
  position: relative;
}

.right {
  float:right;
  width: 45%;
  padding-top: 25px;
  padding-left: 0px;
  text-align:left;
  text-align:center;
  position: relative;
}

.animate-wrap {
  position: relative;
  padding-top: 30px;
  width: 80px;
  margin:0 auto;
}

.badge {
  width: 170px;
  margin-top: 90px;
}

.quote {
  margin-top: 100px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #4d4d4d;
}

h2 {
  font-size: 28px;
  margin-bottom: 0px;
  font-weight: 500;
}

.author {
  float:right;
  font-size: 15px;
  line-height: 19px;
  color: #4d4d4d;
}

footer {
  padding: 10px;
  margin-top: 50px;
}

.breaker {
  width: 150px;
  height: 1px;
  background: #eee;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #eee;
}

footer p {
  color: #888;
  opacity: 0.7;
  margin-top: 30px;
  font-size: 12px;
}

.elephant {
  position: absolute;
  display: block;
  width: 70px;
  top: 0px;
  left: 0px;
}

.trunk {
  position: absolute;
  display: block;
  width: 16px;
  top: 20px;
  left: 56px;
}

.swingSmall {
    transform-origin: top center;
    animation-duration: 3.3s;
    animation-name: swingSmall;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @-webkit-keyframes swingSmall {
       20% {
           -webkit-transform: rotate3d(0, 0, 1, 5deg);
           transform: rotate3d(0, 0, 1, 5deg)
       }
       40% {
           -webkit-transform: rotate3d(0, 0, 1, -4deg);
           transform: rotate3d(0, 0, 1, -4deg)
       }
       60% {
           -webkit-transform: rotate3d(0, 0, 1, 3deg);
           transform: rotate3d(0, 0, 1, 3deg)
       }
       80% {
           -webkit-transform: rotate3d(0, 0, 1, -2deg);
           transform: rotate3d(0, 0, 1, -2deg)
       }
       to {
           -webkit-transform: rotate3d(0, 0, 1, 0deg);
           transform: rotate3d(0, 0, 1, 0deg)
       }
   }

   @keyframes swingSmall {
       20% {
           -webkit-transform: rotate3d(0, 0, 1, 5deg);
           transform: rotate3d(0, 0, 1, 5deg)
       }
       40% {
           -webkit-transform: rotate3d(0, 0, 1, -4deg);
           transform: rotate3d(0, 0, 1, -4deg)
       }
       60% {
           -webkit-transform: rotate3d(0, 0, 1, 3deg);
           transform: rotate3d(0, 0, 1, 3deg)
       }
       80% {
           -webkit-transform: rotate3d(0, 0, 1, -2deg);
           transform: rotate3d(0, 0, 1, -2deg)
       }
       to {
           -webkit-transform: rotate3d(0, 0, 1, 0deg);
           transform: rotate3d(0, 0, 1, 0deg)
       }
   }
